

.position-relative {
    text-align: center;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.unRecuerdo{
    background-color: #464852;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.unaRelacion{
    background-color: #464852;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

option {
    color: black;
}

.label {
    color: black;
}

@media screen and (max-width: 900px) {
    
    Form{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

}